<div class="search-bar form-inline container">
  <input ng-model="userName" class="form-control" type="text" />
  <button class="btn btn-primary" ng-click="vm.getRepos(userName)">
    <span class="glyphicon glyphicon-search">Search</span>
  </button>
  <button class="btn btn-primary" ng-click="vm.getSavedRepos()">
    <span class="glyphicon glyphicon-floppy-save">Saved Repos</span>
  </button>
</div>
<error error="vm.error"></error>
<panel 
  started="vm.started" 
  repos="vm.repos" 
  saved-videos="vm.savedVideos"
  fork-repo="vm.forkRepo"
  save-repo="vm.saveRepo"
></panel>
