<div class="search-bar form-inline">
  <input ng-model="userName" class="form-control" type="text" />
  <button class="btn" ng-click="vm.getRepos(userName)">
    <span class="glyphicon glyphicon-search">Search</span>
  </button>
  <button class="btn" ng-click="vm.getSavedRepos()">
    <span class="glyphicon glyphicon-search">Save Repos</span>
  </button>
</div>

<div class="list-group" ng-repeat="repo in vm.repos track by $index">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">{{repo.name}}</h4>
    <p class="list-group-item-text"></p>
  </a>
  <button class="btn" ng-click="vm.forkRepo(repo)" ng-hide="vm.savedVideos">
    <span class="glyphicon glyphicon-search">Fork </span>
  </button>
  <button class="btn" ng-click="vm.saveRepo(repo)">
    <span class="glyphicon glyphicon-search">Save </span>
  </button>
  <div>
    <span ng-show="repo.forkedUrl">HTTPS<span class="badge"> git clone {{repo.forkedUrl.git_url}}</span></span>
    </br>
    <span ng-show="repo.forkedUrl">SSH<span class="badge">git clone {{repo.forkedUrl.ssh_url}}</span></span>
  </div>
</div>